streamlit>=1.30.0
fastapi
uvicorn
langchain
langchain-groq
langchain-community
chromadb
pymupdf
python-dotenv
requests
pillow
easyocr
langsmith
python-multipart
pydantic
tavily-python
langchain-huggingface
sentence-transformers
